@{
    ViewData["Title"] = "Home Page";
}

<br/>
<div class="row">
  <div class="col-md-6">
        <div class="panel panel-primary panel-table">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Quantidade de Vendas(dia)</h3>
                    <span>Exibe a quantidade de vendas novas por dia</span>
                </div>

                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Qtd</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var item in (IList<KeyValuePair<string, int>>) ViewBag.Vendas)
                    {
                        <tr>
                            <td style="width: 50%">@item.Key</td>
                            <td style="width: 50%">@item.Value</td>
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary panel-table">
            <div class="panel-heading">
        
                <div class="panel-title">
                    <h3>Resumo mês</h3>
                    <span>Exibe o resumo por quantidade de vendas e valor pago no mês corrente</span>
                </div>

                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Faturamento</th>
                        <th>Vendas</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td style="width: 50%">@(((KeyValuePair<decimal, int>)ViewBag.ResumoMes).Key.ToString("C"))</td>
                        <td style="width: 50%">@(((KeyValuePair<decimal, int>)ViewBag.ResumoMes).Value)</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    
</div>
